* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

input {
  border: 1px solid #dfdde0;
  box-shadow: inset 0 3px 3px -3px #dfdde0;
}

button {
  height: 100%;
  width: 100%;
  border-color: #dfdde0;
}

input,
.btn-div {
  height: 35px;
  font-size: 22px;
  text-align: center;
}

h1 {
  font-size: 2.3rem;
}

#result-total {
  font-weight: regular;
}

#minus-percent,
#minus-people {
  border-right: white;
  border-radius: 3px 0 0 3px;
}

#add-percent,
#add-people {
  border-left: white;
  border-radius: 0 3px 3px 0;
}

.container {
  display: flex;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 650px;
  height: 270px;
  border: solid 0.5px #dfdde0;
  border-radius: 10px;
}

.calculator {
  padding: 20px;
}

.lg-input {
  width: 100%;
}

.sm-input {
  width: 176px;
}

.input-div {
  display: flex;
  width: 240px;
  margin: 5px 0 20px 0;
  transition: all 0.5s ease;
}

.btn-div button {
  width: 32px;
  background-color: #f7f7f7;
}

.btn-div button:hover {
  background-color: #fafafa;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
  border-left: solid 0.5px #dfdde0;
}

.resultHalf {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: flex-end;
}

.faded {
  color: #6f757a;
  margin-bottom: 5px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    flex-direction: column;
    width: 90%;
    height: 80%;
  }

  .calculator {
    margin: auto;
  }

  .result {
    border-top: solid 0.5px #dfdde0;
    border-left: none;
  }
}
